<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<style>
		th
		{
			vertical-align:middle
		}
		.error {color:red}
</style>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<title>Currencies List</title>
</head>

<body>

<div class="container">
	<h3>Currencies List</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/simple-login}" class="btn btn-primary btn-sm mb-3">
		Login
	</a>
	
	<form action="exchangeResult" method="get">
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>
					<div style="padding-top: 24px">
						<input type="text" name="currencyAmmount" th:value="${currencyAmmount}" class="form-control mb-4 col-4" placeholder="Currency ammount"
									pattern="^[+-]?([0-9]+([.][1-9]*)?|[.][1-9]+)$", title="Only integer and decimal numbers are allowed!"/>
						<p th:if="${emptyError}" style="color: red" th:text="*{emptyError}" />
					</div>
				</th>
				<th>
					<div>
						<select class="form-control" name="currencyFrom" id="currencyFrom">
					    	<option value="0" >Currency From</option>
					    	<option th:each="tempCurrency : ${currencies}"
					             	th:value="${tempCurrency.id}"
					             	th:selected="${savedCurrencyFrom eq tempCurrency.id}"
					             	th:text="${tempCurrency.currencyCode} + ' - ' + ${tempCurrency.currencyName}">
					    	</option>
						</select>
						<p th:text="${emptyCurrency}" th:if="${emptyCurrency}" style="color: red"/>
					</div></th>
				<th>
					<div>
						<select class="form-control" name="currencyTo" id="currencyTo" >
					    	<option value="0" >Currency To</option>
					    	<option th:each="tempCurrency : ${currencies}"
					             	th:value="${tempCurrency.id}"
					             	th:selected="${savedCurrencyTo eq tempCurrency.id}"
					             	th:text="${tempCurrency.currencyCode} + ' - ' + ${tempCurrency.currencyName}">
					    	</option>
						</select>
						<p th:text="${emptyCurrency}" th:if="${emptyCurrency}" style="color: red"/>
					</div></th>
				<th>
					<div style="padding-top: 24px">
						<input type="submit" class="btn btn-primary btn-sm mb-4" value="Calculate" style="height: 38px"/>
					</div>
				</th>
				<th>
					<p th:text="${currencyAmmount} + ' ' + ${currencyTypeFrom} + ' = ' + ${result} + ' ' + ${currencyTypeTo}" th:if="${result}" />
				</th>
			</tr>
		</thead>
	</table>
	</form>
	
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th style="text-align:center">Currency</th>
				<th style="text-align:center">Code</th>
				<th style="text-align:center">Per unit of currency</th>
				<th style="text-align:center">Levs (BGN)</th>
				<th style="text-align:center">Reverse rate for 1 BGN</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempCurrency : ${currencies}">
			
				<td th:text="${tempCurrency.currencyName}" />
				<td style="text-align:center" th:text="${tempCurrency.currencyCode}" />
				<td style="text-align:center" th:text="${tempCurrency.unitValue}" /> 
				<td style="text-align:center" th:text="${tempCurrency.unitPrice}" />
				<td style="text-align:center" th:text="${tempCurrency.unitSellPrice}" />
			</tr>
		</tbody>
	</table>
</div>

</body>

</html>